export ADDR=":3000"
export DB_ADDR="postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable"
export FROM_EMAIL="hello@demomailtrap.co"
export SENDGRID_API_KEY="some_api_key"
export MAILTRAP_API_KEY="92e87743ef68d7aebc04f66dbe328e34"
